:root {
  --body-color: rgb(36, 36, 39);
  --primary-color: rgb(25, 25, 107);
  --secondary-color: rgb(87, 87, 196);
  --white: rgb(246, 246, 255);
  --black: rgb(34, 34, 37);
  --magic-color: rgba(47, 0, 60, 1);
  --shadow: 0 0.25rem 0 0 rgba(0,0,0,0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.body-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.web-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.web-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.game-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
}

.question-box {
    padding: 0 2rem 1rem 2rem;
    background-color: rgb(208, 143, 65);
    background-image: url("./../media/wood-pattern.png");
    background-size: 12rem;
    border: 0.5rem solid rgb(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.question-info-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
}

.info-box {
    position: relative;
    padding: 0.5rem 1rem 1rem 1rem;
    background: var(--info-color) linear-gradient(150deg,rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 0) 29%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 36%, rgba(0, 0, 0, 0) 37%, 
    rgba(0, 0, 0, 0) 64%, rgba(255, 255, 255, 0.3) 65%, rgba(255, 255, 255, 0.3) 68%, rgba(0, 0, 0, 0) 69%, 
    rgba(0, 0, 0, 0) 100%);
    border: 0.25rem solid color-mix(var(--info-color) 100%, rgb(0, 0, 0) 20%);
    border-top: none;
    border-radius: 0 0 1rem 1rem;
}

.nail {
    --size: 0.4rem;
    --nail-color: grey;
    width: var(--size);
    height: var(--size);
    position: absolute;
    bottom: 10%;
    background-color: var(--nail-color);
    border-radius: var(--size);
    box-shadow: 0  0.075rem 0 0 color-mix(var(--nail-color) 100%, rgb(0, 0, 0) 20%);
    &.left {
        left: 0.7rem;
    }
    &.right {
        right: 0.7rem;
    }
}

.category-box {
    --category-color: purple;
    --info-color: var(--category-color);
}

.difficulty-box {
    --difficulty-color: gold;
    --info-color: var(--difficulty-color);
    color: var(--black)
}

.question-text-box {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
}

.answers-box {
    flex: 1;
}

.multiple-answers-box {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-areas: 
    "q1 q2"
    "q3 q4";
    gap: 1rem;
    padding: 1rem;
    &.active {
        display: grid;
    }
}

.tf-answers-box {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-areas: 
    "true false";
    gap: 1rem;
    padding: 5rem 1rem;
    &.active {
        display: grid;
    }
}

.answer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background: var(--magic-color) linear-gradient(180deg, rgba(255, 0, 144, 1) 0%, var(--magic-color) 100%);
    border: 0.25rem solid color-mix(var(--magic-color) 100%, rgb(0, 0, 0) 20%);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: all 0.1s ease-in;
    &:hover {
        scale: 1.02;
        box-shadow: 0 0.3rem 0 0.25rem rgba(0,0,0,0.4);
    }
}

.stats-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0rem;
}

.hp-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.heart-box {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    position: relative;
}

.heart-icon {
    width: 100%;
    display: none;
    position: absolute;
    inset: 0;
    &.active {
        display: block;
    }
}
